# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar dependências
node_modules/

# Ignorar arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Ignorar arquivos de configuração local
.env
config.local.php
